<nav
  id="start"
  [ngClass]="[isScrolled ? 'lg:bg-opacity-100' : 'lg:bg-opacity-60']"
  [ngClass]="isMenuOpen ? 'shadow-none' : 'shadow-md'"
  class="fixed top-0 left-0 w-full z-40 bg-secondary lg:shadow-md px-8 2xl:px-0 font-roboto h-16 max-h-16 duration-700 ease-in-out slideInFromTop"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center w-full justify-center lg:justify-between mx-auto py-4"
  >
    <a href="#" class="flex items-center space-x-4 rtl:space-x-reverse">
      <span
        class="self-center text-2xl font-semibold font-eyesome whitespace-nowrap"
        >Katharina Niesche</span
      >
    </a>

    <app-hamburger-menu
      [isChecked]="isMenuOpen"
      class="block lg:hidden absolute top-2 right-1 p-2 scale-75"
      (click)="toggleMenu()"
    >
    </app-hamburger-menu>

    <div
      class="absolute bg-secondary lg:bg-transparent top-16 lg:top-0 lg:relative lg:block w-full k lg:w-auto h-screen lg:h-auto duration-500"
      [ngClass]="
        isMenuOpen
          ? 'block fadeInNav'
          : isElementVisible
            ? 'block fadeOutNav animDelay04'
            : 'hidden'
      "
    >
      <ul
        class="text-lg uppercase flex flex-col p-4 lg:p-0 lg:flex-row lg:space-x-8 rtl:space-x-reverse"
      >
        <li>
          <a
            href="#header"
            (click)="scrollToSection('header', $event)"
            role="presentation"
            [ngClass]="{
              'slideInFromBot animDelay03': isMenuOpen && isSmallScreen,
              'slideOutFromBot animDelay04': !isMenuOpen && isSmallScreen,
            }"
            class="flex lg:block justify-center py-4 lg:py-0 lg:px-3 lg:p-0 text-accent cursor-pointer"
            >Startseite</a
          >
        </li>
        <li>
          <a
            href="#about"
            (click)="scrollToSection('about', $event)"
            [ngClass]="{
              'slideInFromBot animDelay04': isMenuOpen && isSmallScreen,
              'slideOutFromBot animDelay03': !isMenuOpen && isSmallScreen,
            }"
            role="presentation"
            class="flex lg:block justify-center py-4 lg:py-0 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Über mich</a
          >
        </li>
        <li>
          <a
            href="#coaching"
            (click)="scrollToSection('coaching', $event)"
            role="presentation"
            [ngClass]="{
              'slideInFromBot animDelay05': isMenuOpen && isSmallScreen,
              'slideOutFromBot animDelay02': !isMenuOpen && isSmallScreen,
            }"
            class="flex lg:block justify-center py-4 lg:py-0 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Coaching</a
          >
        </li>
        <li>
          <a
            href="#podcast"
            (click)="scrollToSection('podcast', $event)"
            role="presentation"
            [ngClass]="{
              'slideInFromBot animDelay06': isMenuOpen && isSmallScreen,
              'slideOutFromBot animDelay01': !isMenuOpen && isSmallScreen,
            }"
            class="flex lg:block justify-center py-4 lg:py-0 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Podcast</a
          >
        </li>
        <li>
          <a
            href="#contact"
            (click)="scrollToSection('contact', $event)"
            role="presentation"
            [ngClass]="{
              'slideInFromBot animDelay07': isMenuOpen && isSmallScreen,
              slideOutFromBot: !isMenuOpen && isSmallScreen,
            }"
            class="flex lg:block justify-center py-4 lg:py-0 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Kontakt</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
