<nav
  class="absolute top-0 left-0 w-full z-50 bg-secondary lg:bg-opacity-60 shadow-md px-8 2xl:px-0"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center w-full justify-center lg:justify-between mx-auto py-4"
  >
    <a href="#" class="flex items-center space-x-4 rtl:space-x-reverse">
      <span
        class="self-center text-2xl font-semibold font-eyesome whitespace-nowrap"
        >Katharina Niesche</span
      >
    </a>
    <!-- <app-hamburger-menu
      class="absolute right-10 p-2 scale-50"
    ></app-hamburger-menu> -->
    <!-- ToDo Mobile size -->
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="absolute top-2 right-0 p-2 w-10 h-10 inline-flex items-center justify-center text-sm text-black rounded-lg lg:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <div
      class="hidden w-full lg:block lg:w-auto h-screen lg:h-auto"
      id="navbar-default"
    >
      <ul
        class="font-medium text-lg uppercase flex flex-col p-4 lg:p-0 lg:flex-row lg:space-x-8 rtl:space-x-reverse lg:mt-0"
      >
        <li>
          <a
            (click)="scrollToSection('start')"
            role="presentation"
            class="block py-2 lg:px-3 lg:p-0 text-accent cursor-pointer"
            >Startseite</a
          >
        </li>
        <li>
          <a
            (click)="scrollToSection('about')"
            role="presentation"
            class="block py-2 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Über mich</a
          >
        </li>
        <li>
          <a
            (click)="scrollToSection('coaching')"
            role="presentation"
            class="block py-2 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Coaching</a
          >
        </li>
        <li>
          <a
            (click)="scrollToSection('podcast')"
            role="presentation"
            class="block py-2 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Podcast</a
          >
        </li>
        <li>
          <a
            (click)="scrollToSection('contact')"
            role="presentation"
            class="block py-2 lg:px-3 lg:p-0 hover:text-accent transition-colors duration-500 ease-in-out cursor-pointer"
            >Kontakt</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
