<footer class="w-full bg-primary px-5 2xl:px-0 xl:text-xl py-12">
  <div class="mx-auto max-w-screen-xl">
    <!--Grid-->
    <div
      class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-5 py-0 sm:py-4 text-center md:text-left font-roboto"
    >
      <div class="flex justify-center md:justify-start mb-2 sm:mb-0">
        <img
          src="../../assets/images/logo.png"
          alt="Landing Page Background"
          class="w-56"
        />
      </div>
      <div
        class="flex justify-center sm:col-start-3 lg:col-start-4 xl:justify-end items-end mb-3"
      >
        <a
          [href]="routes.Impressum"
          class="hover:text-accent-dark duration-500 ease-in-out"
          >Impressum</a
        >
      </div>
      <div class="flex justify-center md:justify-end items-end mb-3">
        <a
          [href]="routes.Datenschutz"
          class="hover:text-accent-dark duration-500 ease-in-out"
          >Datenschutzerklärung</a
        >
      </div>
    </div>

    <!--Grid-->
    <div class="border-t border-primary">
      <div
        class="flex items-center justify-center flex-col lg:justify-between lg:flex-row"
      >
        <span class="text-sm pb-4 font-roboto"
          >© Katharina Niesche 2024. All Rights Reserved.</span
        >
        <app-social-links></app-social-links>
      </div>
    </div>
  </div>
</footer>
