<footer class="w-full bg-secondary px-5 2xl:px-0 lg:text-xl">
  <div class="mx-auto max-w-screen-xl">
    <!--Grid-->
    <div
      class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-5 py-0 sm:py-4 text-center md:text-left"
    >
      <div class="flex justify-center md:justify-start mb-2 sm:mb-0">
        <img
          src="../../assets/images/logo.png"
          alt="Landing Page Background"
          class="w-56"
        />
      </div>
      <div
        class="flex justify-center sm:col-start-3 lg:col-start-4 xl:justify-end items-end mb-3"
      >
        <h4 class="cursor-pointer">Impressum</h4>
      </div>
      <div class="flex justify-center md:justify-end items-end mb-3">
        <div class="cursor-pointer">Datenschutzerklärung</div>
      </div>
    </div>

    <!--Grid-->
    <div class="py-7 border-t border-primary">
      <div
        class="flex items-center justify-center flex-col lg:justify-between lg:flex-row"
      >
        <span class="text-sm"
          >© Katharina Niesche 2024. All Rights Reserved.</span
        >
        <app-social-links></app-social-links>
      </div>
    </div>
  </div>
</footer>
