<div class="md:flex md:h-screen mx-auto text-lg xl:text-xl bg-secondary">
  <div
    class="flex flex-col items-center md:items-start justify-center md:w-7/12 h-full p-12 pt-8 pb-24 lg:p-20 xl:p-32 text-center md:text-left"
  >
    <h2
      #headline
      class="text-3xl xl:text-5xl uppercase animate md:text-left leading-tight"
    >
      Willkommen
    </h2>
    <div #content class="md:leading-8">
      <hr class="[height:2px] border-0 w-44 my-9 bg-accent mx-auto md:mx-0" />
      <p class="mb-4">
        als Transformations- und Erfolgscoach unterstütze ich Frauen dabei, ihre
        Selbstständigkeit erfolgreich und nachhaltig aufzubauen, und ihre
        Lebensvision und Träume zu verwirklichen. Ich begleite sie dabei alten
        Muster und limitierenden Glaubenssätze loszulassen, um mit einem klaren,
        starken Mindset ihre Ziele zu erreichen.
      </p>

      <p class="mb-4">
        Durch individuelle Coaching-Prozesse helfe ich meinen Coachees, ihre
        Visionen zu verwirklichen, ihre Projekte mit Struktur und
        Selbstbewusstsein umzusetzen und ihren Erfolg bewusst zu feiern.
      </p>
      <p class="">
        Lass uns gemeinsam Deine persönlichen und beruflichen Ziele umsetzen.
      </p>
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center h-full md:w-5/12 bg-secondary lg:bg-primary lg:bg-gradient-to-tr from-primary to-secondary/50"
  >
    <div
      class="bg-primary p-24 px-12 md:p-8 lg:p-12 text-center lg:shadow-xl lg:sm:shadow-accent/40 sm:rounded-xl"
    >
      <div
        class="relative mx-auto lg:w-72 lg:h-72 rounded-full overflow-hidden"
      >
        <img
          src="../../assets/images/small-16.jpg"
          alt="about image"
          class="w-full h-full object-cover"
        />
      </div>
      <h2
        class="mt-8 mb-2 border-b-2 border-accent/50 pb-4 text-4xl font-semibold font-eyesome"
      >
        Katharina Niesche
      </h2>
      <h3 class="uppercase my-4 text-md">
        Transformations- <br />und Erfolgscoach
      </h3>
      <app-social-links></app-social-links>
    </div>
  </div>
</div>

<!-- <div class="relative flex h-screen">
  <img
    src="../../assets/images/bg.png"
    alt="About Page Background"
    class="absolute inset-0 w-full h-full object-cover z-0"
  />

  <div class="flex max-w-screen-xl mx-auto">
    <div
      class="flex flex-col items-center justify-center w-7/12 text-center px-8 z-10"
    >
      <h2 class="text-7xl uppercase">
        hi<span class="text-accent-dark">!</span>
      </h2>
      <div class="mt-8">
        <p class="mb-4">
          als Transformations- und Erfolgscoach unterstütze ich Frauen dabei,
          ihre Selbstständigkeit erfolgreich und nachhaltig aufzubauen, und ihre
          Lebensvision und Träume zu verwirklichen. Ich begleite sie dabei alten
          Muster und limitierenden Glaubenssätze loszulassen, um mit einem
          klaren, starken Mindset ihre Ziele zu erreichen.
        </p>
        <p class="mb-4">
          Durch individuelle Coaching-Prozesse helfe ich meinen Coachees, ihre
          Visionen zu verwirklichen, ihre Projekte mit Struktur und
          Selbstbewusstsein umzusetzen und ihren Erfolg bewusst zu feiern.
        </p>
        <p class="">
          Lass uns gemeinsam Deine persönlichen und beruflichen Ziele umsetzen.
        </p>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center w-5/12 z-10">
      <div
        class="bg-primary pt-12 pb-8 px-12 text-center shadow-xl shadow-accent/40 rounded-xl ml-8"
      >
        <div class="relative w-72 h-72 rounded-full overflow-hidden group">
          <img
            src="../../assets/images/small-16.jpg"
            alt="about image"
            class="object-cover"
          />
        </div>
        <h2
          class="mt-8 mb-2 leading-snug border-b-2 border-accent/50 pb-4 text-4xl font-semibold font-eyesome"
        >
          Katharina Niesche
        </h2>
        <h3 class="uppercase mt-4">Transformations- <br />und Erfolgscoach</h3>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="relative inline-block p-1">
  <textarea class="h-30"></textarea>
  <div
    class="absolute top-0 right-0 w-10 h-10 border-t-2 border-r-2 border-[#ff9000]"
  ></div>
</div>
<div class="flex justify-between items-start h-screen p-4">
  <div class="bg-blue-500 w-5/12 h-2/5 rounded-tl-3xl rounded-br-3xl">
    <p class="text-white text-center">Left Box</p>
  </div>

  <div class="bg-blue-500 w-5/12 h-2/5 rounded-tl-3xl rounded-br-3xl items-end">
    <p class="text-white text-center">Left Box</p>
  </div>
</div> -->
