<div class="md:flex md:min-h-screen mx-auto bg-secondary text-lg xl:text-xl">
  <div
    class="flex items-center justify-center md:w-7/12 h-full md:min-h-screen py-24 md:py-8 lg:py-20 xl:py-28 text-center md:text-left"
  >
    <app-carousel
      class="w-full h-full justify-center cursor-grab"
    ></app-carousel>
  </div>

  <div
    class="flex flex-col items-center h-full md:w-5/12 bg-primary lg:bg-gradient-to-tr from-primary to-secondary/50"
  >
    <div
      class="my-24 sm:px-28 md:p-8 lg:p-12 text-center lg:shadow-xl sm:rounded-xl shadow-accent/40"
    >
      <div class="relative mx-auto flex justify-center items-center">
        <img
          src="../../assets/images/small-16.jpg"
          alt="about image"
          class="w-64 h-64 lg:w-72 lg:h-72 object-cover rounded-full"
        />
      </div>
      <h2
        class="mt-8 mb-2 pb-4 text-3xl sm:text-4xl font-semibold font-eyesome"
      >
        {{ contact.Name }}
      </h2>
      <hr class="[height:1.5px] border-0 w-72 bg-accent mx-auto" />
      <h3 class="uppercase my-4 text-md">
        Transformations- <br />und Erfolgscoach
      </h3>
      <app-social-links></app-social-links>
    </div>
  </div>
</div>
