.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.marketing-lab {
  cursor: pointer;
  fill: #d83e00;
  position: absolute;
  left: 0;
  top: 0;
}

.marketing-lab .mask {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

.button {
  padding: 8px 16px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

#mask-M {
  animation: strokeOffset 0.5s linear forwards;
}
#mask-a {
  animation: strokeOffset 1s linear forwards 1s;
}
#mask-r {
  animation: strokeOffset 0.5s linear forwards 2s;
}
#mask-k-1 {
  animation: strokeOffset 0.5s linear forwards 2.5s;
}
#mask-k-2 {
  animation: strokeOffset 0.5s linear forwards 3s;
}
#mask-e {
  animation: strokeOffset 0.5s linear forwards 3.5s;
}
#mask-t-line-v {
  animation: strokeOffset 0.5s linear forwards 4s;
}
#mask-t-line-h {
  animation: strokeOffset 0.5s linear forwards 4.5s;
}
#mask-i-2 {
  animation: strokeOffset 0.5s linear forwards 5s;
}
#mask-i-dot {
  animation: strokeOffset 0.5s linear forwards 5.5s;
}
#mask-n {
  animation: strokeOffset 0.5s linear forwards 6s;
}
#mask-g {
  animation: strokeOffset 1s linear forwards 6.5s;
}
#mask-lab-l {
  animation: strokeOffset 1s linear forwards 7.5s;
}
#mask-lab-a {
  animation: strokeOffset 1s linear forwards 8.5s;
}
#mask-lab-b {
  animation: strokeOffset 1s linear forwards 9.5s;
}
