<div
  *ngIf="customCookieService.$showCookieBanner | async"
  class="cookie-banner slideInFromBot"
>
  <p class="cookie-text">
    Ich nutze Cookies, um deine Erfahrung zu verbessern. Mit der Nutzung stimmst
    du der Verwendung zu.
    <button
      (click)="
        scroller.scrollToSection(routes.PrivacyPolicy, 'cookies', $event)
      "
    >
      Lerne mehr
    </button>
  </p>
  <div class="button-container">
    <button (click)="declineCookies()" class="decline-btn">Ablehnen</button>
    <button (click)="acceptCookies()" class="accept-btn">Zustimmen</button>
  </div>
</div>
