<app-header id="header" class="bg-secondary"></app-header>

<div class="bg-gradient-to-r from-primary/60 via-primary/70 to-secondary">
  <div
    class="mx-auto w-full px-6 sm:px-16 2xl:px-0 pt-28 lg:pt-32 pb-24 max-w-screen-xl lg:text-xl lg:min-h-screen"
  >
    <h2
      class="text-3xl lg:text-5xl text-center uppercase overflow-wrap: break-words"
    >
      Kontakt
    </h2>
    <hr class="[height:1.5px] border-0 w-44 lg:w-48 my-8 bg-accent mx-auto" />

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="emailForm"
      class="leading-8 lg:leading-9 max-w-screen-md mx-auto"
    >
      <div class="md:flex md:space-x-4">
        <!-- First Name -->
        <div class="flex-1 mb-5">
          <label for="firstName" class="mb-2 text-sm">Vorname</label>
          <input
            id="firstName"
            formControlName="firstName"
            class="bg-white border border-primary font-roboto text-sm rounded-lg focus:ring-accent-dark focus:border-accent block w-full p-2.5"
            [ngClass]="{
              'border-red-700':
                emailForm.get('firstName')?.invalid &&
                emailForm.get('firstName')?.touched,
            }"
            required
          />
          <div
            *ngIf="
              emailForm.get('firstName')?.touched &&
              emailForm.get('firstName')?.invalid
            "
            class="text-red-700 text-xs mt-1"
          >
            <div *ngIf="emailForm.get('firstName')?.errors?.['required']">
              Vorname ist erforderlich.
            </div>
            <div *ngIf="emailForm.get('firstName')?.errors?.['pattern']">
              Nur Buchstaben sind erlaubt.
            </div>
            <div *ngIf="emailForm.get('firstName')?.errors?.['maxLength']">
              Der Name darf maximal 20 Zeichen lang sein.
            </div>
          </div>
        </div>

        <!-- Surname -->
        <div class="flex-1 mb-5">
          <label for="surname" class="mb-2 text-sm">Nachname</label>
          <input
            id="surname"
            formControlName="surname"
            class="bg-white border border-primary font-roboto text-sm rounded-lg focus:ring-accent-dark focus:border-accent block w-full p-2.5"
            [ngClass]="{
              'border-red-700':
                emailForm.get('surname')?.invalid &&
                emailForm.get('surname')?.touched,
            }"
            required
          />
          <div
            *ngIf="
              emailForm.get('surname')?.touched &&
              emailForm.get('surname')?.invalid
            "
            class="text-red-700 text-xs mt-1"
          >
            <div *ngIf="emailForm.get('surname')?.errors?.['required']">
              Nachname ist erforderlich.
            </div>
            <div *ngIf="emailForm.get('surname')?.errors?.['pattern']">
              Nur Buchstaben sind erlaubt.
            </div>
            <div *ngIf="emailForm.get('surname')?.errors?.['maxLength']">
              Der Name darf maximal 20 Zeichen lang sein.
            </div>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="mb-5">
        <label for="to" class="mb-2 text-sm">E-Mail Adresse</label>
        <input
          id="to"
          formControlName="to"
          type="email"
          class="bg-white border border-primary font-roboto text-sm rounded-lg focus:ring-accent-dark focus:border-accent block w-full p-2.5"
          [ngClass]="{
            'border-red-700':
              emailForm.get('to')?.invalid && emailForm.get('to')?.touched,
          }"
          required
        />
        <div
          *ngIf="emailForm.get('to')?.touched && emailForm.get('to')?.invalid"
          class="text-red-700 text-xs mt-1"
        >
          <div *ngIf="emailForm.get('to')?.errors?.['required']">
            E-Mail Adresse ist erforderlich.
          </div>
          <div *ngIf="emailForm.get('to')?.errors?.['email']">
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
          </div>
        </div>
      </div>

      <!-- Message -->
      <div class="mb-6">
        <label for="message" class="mb-2 text-sm">Nachricht</label>
        <textarea
          id="message"
          formControlName="message"
          class="bg-white border font-roboto border-primary h-full min-h-[150px] text-sm rounded-lg focus:ring-accent-dark focus:border-accent block w-full p-2.5"
          [ngClass]="{
            'border-red-700':
              emailForm.get('message')?.invalid &&
              emailForm.get('message')?.touched,
          }"
          required
        ></textarea>
        <div
          *ngIf="
            emailForm.get('message')?.touched &&
            emailForm.get('message')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <div *ngIf="emailForm.get('message')?.errors?.['required']">
            Eine Nachricht ist erforderlich.
          </div>
          <div *ngIf="emailForm.get('message')?.errors?.['minlength']">
            Die Nachricht muss mindestens 10 Zeichen lang sein.
          </div>
        </div>
      </div>

      <div class="min-h-3 mb-4">
        <app-loading-dots *ngIf="isLoading"></app-loading-dots>
      </div>

      <app-main-button
        [isDisabled]="isLoading"
        type="submit"
        text="Absenden"
        additionalClasses="flex mx-auto uppercase"
      ></app-main-button>
    </form>
  </div>
</div>

<app-footer></app-footer>
