<div
  class="mx-auto px-8 sm:px-12 2xl:px-0 py-24 text-md xl:text-xl leading-8 md:min-h-screen max-w-screen-2xl flex flex-col"
>
  <div>
    <div class="text-center">
      <h2
        class="text-3xl xl:text-5xl uppercase leading-tight animate inline-block text-left sm:text-center"
      >
        Live Your Calling
      </h2>
    </div>
    <hr class="[height:1.5px] border-0 w-44 md:w-64 my-8 bg-accent mx-auto" />

    <div class="my-12">
      <p class="text-center text-xl font-semibold mb-8">Fühlst du dich …</p>

      <div
        class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0 md:space-x-6"
      >
        <div class="flex-1 text-center">
          <h3 class="text-xl font-bold text-accent mb-2">Ausgelaugt?</h3>
          <p class="">Von einem Job, der dir keine Energie gibt?</p>
        </div>

        <div class="hidden md:flex items-center">
          <div
            class="relative w-[2px] h-36 bg-gradient-to-b from-transparent via-accent to-transparent mx-4"
          ></div>
        </div>

        <div class="flex-1 text-center">
          <h3 class="text-xl font-bold text-accent mb-2">Gefangen?</h3>
          <p class="">In einem Alltag, der sich monoton und sinnlos anfühlt?</p>
        </div>

        <div class="hidden md:flex items-center">
          <div
            class="relative w-[2px] h-36 bg-gradient-to-b from-transparent via-accent to-transparent mx-4"
          ></div>
        </div>

        <div class="flex-1 text-center">
          <h3 class="text-xl font-bold text-accent mb-2">Unsicher?</h3>
          <p class="">
            Wo du überhaupt anfangen sollst, um dein Leben zu verändern?
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-screen-lg text-left mx-auto mb-12">
      <p class="mb-8">
        <strong>Live Your Calling</strong> ist ein exklusives 4-monatiges
        Coaching-Programm für Menschen, die ihre wahre Berufung finden und ein
        erfülltes Leben führen möchten.
      </p>
      <p>
        Dieses Programm ist deine Chance, aus der Sackgasse auszubrechen und
        endlich das Leben zu gestalten, das du verdienst: voller Sinn, Klarheit
        und Freude. Der Tag, an dem du deine Berufung findest, ist der Tag, an
        dem du dein wahres WARUM erkennst. Von diesem Moment an wirst du nie
        wieder das Gefühl haben, zu arbeiten.
      </p>
    </div>

    <app-flip-card></app-flip-card>

    <div class="text-left max-w-screen-lg mx-auto mb-12">
      <p class="mt-12 mb-8">
        Bereit, deine Berufung zu entdecken und ein erfülltes Leben zu
        gestalten?
      </p>
      <p class="mb-8">
        Dieses Coaching-Programm ist mehr als nur ein Weg zu mehr Klarheit – es
        ist eine Reise zu deinem wahren Selbst. Gemeinsam gehen wir die
        Schritte, die nötig sind, um alte Blockaden zu lösen, deine Vision zu
        definieren und den Mut zu finden, sie in die Realität umzusetzen. Du
        wirst nicht nur herausfinden, was dich wirklich antreibt, sondern auch
        konkrete Werkzeuge an die Hand bekommen, um langfristig in deine volle
        Kraft zu kommen.
      </p>
      <p class="mb-8">
        Stell dir vor, wie es sich anfühlt, morgens aufzuwachen und genau zu
        wissen, dass du deinem Leben einen tiefen Sinn gibst. Der erste Schritt
        beginnt mit einem Gespräch. Lass uns herausfinden, ob dieses Coaching
        das Richtige für dich ist.
      </p>
      <p class="mb-8">
        Dieses Programm ist deine Chance, aus der Sackgasse auszubrechen und
        endlich das Leben zu gestalten, das du verdienst: voller Sinn, Klarheit
        und Freude. Der Tag, an dem du deine Berufung findest, ist der Tag, an
        dem du dein wahres WARUM erkennst. Von diesem Moment an wirst du nie
        wieder das Gefühl haben, zu arbeiten.
      </p>
      <p>
        Melde dich jetzt für ein kostenloses Erstgespräch an und lass uns deinen
        Weg in ein erfülltes Leben starten!
      </p>
    </div>
    <div class="flex mx-auto justify-center">
      <app-main-button
        type="button"
        text="Zum kostenlosen Erstgespräch"
        additionalClasses="uppercase"
        (click)="scroller.scrollToSection(routes.Contact, 'header', $event)"
      ></app-main-button>
    </div>
  </div>
</div>
