<div
  class="mx-auto pt-24 text-md xl:text-xl md:min-h-screen max-w-screen-xl flex flex-col leading-8 xl:leading-9"
>
  <div>
    <div class="text-center leading-tight uppercase animate">
      <h2 class="text-3xl xl:text-5xl mb-5 italic tracking-wider mx-2">
        Live Your Calling
      </h2>
      <h3
        class="text-2xl xl:text-3xl leading-tight tracking-wider font-aileron"
      >
        1:1 Coaching
      </h3>
    </div>
    <hr
      class="[height:1.5px] border-0 w-44 md:w-64 mt-8 mb-7 bg-accent mx-auto"
    />

    <div class="px-8 sm:px-12 2xl:px-0">
      <div class="my-12">
        <p class="text-center text-xl font-semibold mb-8">Fühlst du dich …</p>

        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0 md:space-x-6 mx-auto"
        >
          <div class="flex-1 text-center">
            <h3 class="text-xl font-bold text-accent mb-2">Ausgelaugt?</h3>
            <p class="">Von einem Job, der dir keine Energie gibt?</p>
          </div>

          <div class="flex items-center justify-center w-full md:w-auto">
            <div
              class="relative w-full h-[2px] bg-gradient-to-r from-transparent via-accent to-transparent mx-4 md:w-[2px] md:h-36 md:bg-gradient-to-b"
            ></div>
          </div>

          <div class="flex-1 text-center">
            <h3 class="text-xl font-bold text-accent mb-2">Gefangen?</h3>
            <p class="">
              In einem Alltag, der sich monoton und sinnlos anfühlt?
            </p>
          </div>

          <div class="flex items-center justify-center w-full md:w-auto">
            <div
              class="relative w-full h-[2px] bg-gradient-to-r from-transparent via-accent to-transparent mx-4 md:w-[2px] md:h-36 md:bg-gradient-to-b"
            ></div>
          </div>

          <div class="flex-1 text-center">
            <h3 class="text-xl font-bold text-accent mb-2">Unsicher?</h3>
            <p class="">
              Wo du überhaupt anfangen sollst, um dein Leben zu verändern?
            </p>
          </div>
        </div>
      </div>

      <div class="text-left mx-auto mb-12 md:mb-20 max-w-screen-lg">
        <p class="mb-8">
          <strong>Live Your Calling</strong> ist ein exklusives
          <strong>viermonatiges Coaching-Programm</strong> für Menschen, die
          ihre <strong>berufliche Erfüllung</strong> finden und ein
          <strong>sinnerfülltes Leben</strong> führen möchten.
        </p>
        <p class="mb-8">
          Dieses Coaching-Programm ist eine
          <strong>transformative Reise</strong>, die dich zu deinem
          <strong>wahren Selbst</strong> führt. Gemeinsam gehen wir die
          Schritte, um <strong>alte Blockaden</strong> zu lösen, deine
          <strong>Berufung</strong> zu definieren und den
          <strong>Mut zu finden</strong>, sie in die
          <strong>Realität umzusetzen</strong>. Du wirst nicht nur herausfinden,
          <strong>was dich wirklich antreibt</strong>, sondern auch
          <strong>konkrete Werkzeuge</strong> an die Hand bekommen, um
          <strong>langfristig</strong> in deine volle Kraft zu kommen.
        </p>

        <p>
          Meldest du dich für ein <strong>kostenloses Coffee Talk</strong> an,
          starten wir mit einem <strong>persönlichen Zoom Call</strong>, um uns
          <strong>kennenzulernen</strong> und über deine aktuellen
          <strong>Herausforderungen</strong> sowie <strong>Ziele</strong> zu
          sprechen. Wenn dich dieses Gespäch darin bestärkt, endlich in deine
          berufliche Erfüllung loszugehen, führt dich das Coaching durch die
          <strong>folgenden Schritte</strong>:
        </p>
      </div>

      <div class="mx-auto">
        <app-flip-card></app-flip-card>
      </div>

      <div class="text-left mx-auto mt-16 px-6 py-8 rounded-xl shadow-lg">
        <p class="text-center font-semibold mb-12 md:mb-20">
          Die wichtigsten Fakten von Live Your Calling im Überblick:
        </p>

        <ul
          class="grid grid-cols-1 sm:grid-cols-2 gap-4 sm:gap-y-8 mb-12 xl:text-lg"
        >
          <li
            *ngFor="let item of items; trackBy: trackByIndex"
            class="block items-start justify-center text-center"
          >
            {{ item.text }}
            <div
              class="mt-3 w-8/12 md:w-72 h-[2px] mx-auto bg-gradient-to-r from-transparent via-accent/70 to-transparent fadeInNav"
            ></div>
          </li>
        </ul>

        <p class="md:px-12 mt-14 md:mt-19">
          Melde dich zu einem kostenlosen Coffee Talk an, um herauszufinden, ob
          wir zueinander passen. In diesem Gespräch erhältst du bereits erste
          wertvolle Impulse, die dir Klarheit und Orientierung bieten.
          Unabhängig davon, ob wir den gemeinsamen Weg weitergehen, wirst du
          gestärkt und mit neuen Ansätzen daraus hervorgehen.
        </p>

        <div class="flex mx-auto justify-center pt-11 pb-4">
          <app-main-button
            type="button"
            text="Zum kostenlosen Erstgespräch"
            additionalClasses="uppercase"
            (click)="scroller.scrollToSection(routes.Contact, 'header', $event)"
          ></app-main-button>
        </div>
      </div>
    </div>
  </div>
</div>
