<div class="">
  <swiper-container (slideChange)="onSlideChange($event)">
    <swiper-slide
      class="w-full h-full leading-8 xl:leading-9 flex flex-col items-center md:items-start text-md xl:text-xl text-left"
    >
      <h2 #headline class="text-3xl xl:text-5xl uppercase animate">
        Willkommen
      </h2>
      <div #content class="leading-8 xl:leading-9">
        <hr
          class="[height:1.5px] border-0 w-44 my-8 bg-accent mx-auto md:mx-0"
        />
        <p class="mb-4">
          Fühlst du dich in deinem Job oft ausgelaugt, als würde dir etwas
          Entscheidendes fehlen? Hast du das Gefühl, dass da mehr auf dich
          wartet – ein Leben, das sich bedeutungsvoll, lebendig und echt
          anfühlt?
        </p>

        <p class="mb-4">
          Als Transformations- und Erfolgscoach helfe ich dir, genau das zu
          finden: deine Berufung. Denn ich weiß aus eigener Erfahrung, wie es
          ist, sich verloren und unerfüllt zu fühlen. Nach einem schweren
          Motorradunfall stand ich an einem Wendepunkt in meinem Leben. Ich
          entschied mich, mein Leben neu zu gestalten und meiner inneren Stimme
          zu folgen.
        </p>
        <p class="">
          Heute begleite ich Menschen wie dich dabei, ihre tiefsten Wünsche zu
          erkennen, blockierende Glaubenssätze loszulassen und ihre Vision in
          die Realität umzusetzen. Gemeinsam schaffen wir Raum für Klarheit,
          Sinn und nachhaltige Veränderung – damit du morgens voller Energie
          aufwachst und weißt: Das ist mein Weg.
        </p>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- External Navigation Buttons -->
  <!-- <div class="swiper-nav">
    <div class="swiper-button-prev">🢐</div>
    <div class="swiper-button-next">🢒</div>
  </div> -->
</div>
