<div class="swiper-container-wrapper">
  <swiper-container
    pagination="true"
    pagination-clickable="true"
    speed="1000"
    (slideChange)="onSlideChange($event)"
  >
    <swiper-slide
      class="w-full h-full leading-8 xl:leading-9 flex flex-col items-center md:items-start text-lg xl:text-xl text-center md:text-left pb-12 px-8 lg:px-20 xl:px-28"
    >
      <h2 #headline class="text-3xl xl:text-5xl uppercase animate">
        Willkommen
      </h2>
      <div #content class="leading-8 xl:leading-9">
        <hr
          class="[height:1.5px] border-0 w-44 my-8 bg-accent mx-auto md:mx-0"
        />
        <p class="mb-4">
          als Transformations- und Erfolgscoach unterstütze ich Frauen dabei,
          ihre Selbstständigkeit erfolgreich und nachhaltig aufzubauen, und ihre
          Lebensvision und Träume zu verwirklichen. Ich begleite sie dabei alten
          Muster und limitierenden Glaubenssätze loszulassen, um mit einem
          klaren, starken Mindset ihre Ziele zu erreichen.
        </p>

        <p class="mb-4">
          Durch individuelle Coaching-Prozesse helfe ich meinen Coachees, ihre
          Visionen zu verwirklichen, ihre Projekte mit Struktur und
          Selbstbewusstsein umzusetzen und ihren Erfolg bewusst zu feiern.
        </p>
        <p class="">
          Lass uns gemeinsam Deine persönlichen und beruflichen Ziele umsetzen.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide
      class="w-full h-full leading-8 xl:leading-9 flex flex-col items-center md:items-start text-lg xl:text-xl text-center md:text-left pb-8 px-8 lg:px-20 xl:px-28"
    >
      <h2 #headline class="text-3xl xl:text-5xl uppercase">Über mich</h2>
      <div #content class="leading-8 xl:leading-9">
        <hr
          class="[height:1.5px] border-0 w-44 my-8 bg-accent mx-auto md:mx-0"
        />
        <p class="mb-4">
          Als Transformations- und Erfolgscoach helfe ich dir, genau das zu
          finden: deine Berufung. Denn ich weiß aus eigener Erfahrung, wie es
          ist, sich verloren und unerfüllt zu fühlen. Nach einem schweren
          Motorradunfall stand ich an einem Wendepunkt in meinem Leben. Ich
          entschied mich, mein Leben neu zu gestalten und meiner inneren Stimme
          zu folgen.
        </p>
        <p class="mb-4">
          Heute begleite ich Menschen wie dich dabei, ihre tiefsten Wünsche zu
          erkennen, blockierende Glaubenssätze loszulassen und ihre Vision in
          die Realität umzusetzen. Gemeinsam schaffen wir Raum für Klarheit,
          Sinn und nachhaltige Veränderung – damit du morgens voller Energie
          aufwachst und weißt: Das ist mein Weg.
        </p>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- External Navigation Buttons -->
  <!-- <div class="swiper-nav">
    <div class="swiper-button-prev">🢐</div>
    <div class="swiper-button-next">🢒</div>
  </div> -->
</div>
