.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.container {
  position: relative;
  height: 340px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(var(--accent-rgb), 0.3);
}

.card-title {
  position: absolute;
  top: 120px;
  width: 100%;
  padding: 0 8px;
  text-align: center;
  transition: opacity 0.5s ease-in 0.4s;
  z-index: 2;
  font-size: 1.25rem;
}

.container:hover .card-title {
  opacity: 0; /* Disappear on hover */
  transition: opacity 0.2s ease-in;
}

/* Flaps for animation */
.flap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; /* Below title but above content */
  background: rgb(var(--secondary-rgb), 0.6);
}

.flap::before,
.flap::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 50%;
  background: linear-gradient(
    var(--primary),
    rgb(var(--primary-light-rgb), 0.2),
    rgb(var(--primary-light-rgb), 0.5)
  );
  transition: transform 0.9s;
}

.flap::before {
  left: 0;
  background-position: 100px;
}

.flap::after {
  right: 0;
  background-position: -200px;
}

.container:hover .flap::after {
  transform: translateX(300px); /* Move the right flap outward */
}

.container:hover .flap::before {
  transform: translateX(-300px); /* Move the left flap outward */
}

/* Card Content (hidden initially) */
.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
  text-align: left;
  color: black;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s; /* Smooth fade-in on hover */
  z-index: 2; /* Below flaps */
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.container:hover .card-content {
  opacity: 1; /* Fully visible on hover */
}

.subtitle {
  text-align: center;
  font-weight: 600;
  padding-bottom: 0.6rem;
  color: var(--accent);
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .subtitle {
    font-size: 1.25rem;
    padding-bottom: 0.7rem;
  }

  .card-container {
    gap: 25px;
  }

  .container {
    height: 380px;
    width: 340px;
  }

  .card-title {
    top: 120px;
    font-size: 1.25rem;
  }

  .card-content {
    font-size: 1rem;
    line-height: 2rem;
  }
}
