<div class="card-container">
  <div class="container">
    <div class="card-title">
      <h1>
        <span class="font-semibold">Klarheit schaffen </span><br />
        <hr class="[height:1.5px] border-0 w-44 my-2 bg-accent mx-auto" />
        Dein Kompass für die Zukunft
      </h1>
    </div>
    <div class="flap"></div>
    <div class="card-content">
      <h2 class="subtitle">Klarheit schaffen</h2>
      <p>
        Im ersten Schritt legen wir deinen persönlichen Kompass fest: Was ist
        dir wirklich wichtig, und wo willst du hin? Was erfüllt dich wirklich?
        Gemeinsam entwickeln wir eine klare Vision für ein Leben voller Sinn und
        Erfüllung.
      </p>
    </div>
  </div>

  <div class="container animateB">
    <div class="card-title">
      <h1>
        <span class="font-semibold">Blockaden lösen</span><br />
        <hr class="[height:1.5px] border-0 w-44 my-2 bg-accent mx-auto" />

        Befreie dich von inneren Hindernissen
      </h1>
    </div>
    <div class="flap"></div>
    <div class="card-content">
      <h2 class="subtitle">Blockaden lösen</h2>

      <p>
        Hast du das Gefühl, dass etwas in dir dich zurückhält? In diesem Modul
        decken wir die Muster, Ängste und limitierenden Glaubenssätze auf, die
        dich blockieren. Wir schaffen Raum, damit du dich von diesen Belastungen
        befreien kannst.
      </p>
    </div>
  </div>

  <div class="container animateR">
    <div class="card-title">
      <h1>
        <span class="font-semibold">Transformation</span> <br />
        <hr class="[height:1.5px] border-0 w-44 my-2 bg-accent mx-auto" />

        Dein neues Mindset
      </h1>
    </div>
    <div class="flap"></div>
    <div class="card-content">
      <h2 class="subtitle">Transformation</h2>

      <p>
        Jetzt ist es Zeit, dein inneres Fundament neu zu gestalten. Wir
        verwandeln alte, limitierende Gedanken in kraftvolle, unterstützende
        Überzeugungen. Mit gezielten Übungen und einem stärkenden Mindset legst
        du die Grundlage für deine persönliche Transformation.
      </p>
    </div>
  </div>

  <div class="container animateB">
    <div class="card-title">
      <h1>
        <span class="font-semibold">Umsetzung</span> <br />
        <hr class="[height:1.5px] border-0 w-44 my-2 bg-accent mx-auto" />

        Deine Vision wird Realität
      </h1>
    </div>
    <div class="flap"></div>
    <div class="card-content">
      <h2 class="subtitle">Umsetzung</h2>

      <p>
        Die Theorie wird Praxis! Mit einem klaren Plan, messbaren Meilensteinen
        und ersten Schritten begleite ich dich dabei, deine Berufung in die
        Realität umzusetzen und erste Erfolge zu feiern.
      </p>
    </div>
  </div>

  <div class="container animateB">
    <div class="card-title">
      <h1>
        <span class="font-semibold">Integration</span> <br />
        <hr class="[height:1.5px] border-0 w-44 my-2 bg-accent mx-auto" />

        Dein erfülltes Leben langfristig gestalten
      </h1>
    </div>
    <div class="flap"></div>
    <div class="card-content">
      <h2 class="subtitle">Integration</h2>

      <p>
        Damit deine Veränderung nachhaltig bleibt, entwickeln wir neue Routinen
        und Strategien, die dich langfristig unterstützen. Wir verankern deinen
        Fortschritt im Alltag, damit dein Leben dauerhaft von Sinn und Erfüllung
        geprägt ist.
      </p>
    </div>
  </div>
</div>
