.btn {
  padding: 0.9rem 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--secondary-color);

  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  transform: scale(1.03);
  background-position: 90% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn.color-1 {
  background-image: linear-gradient(
    to right,
    #8277a3,
    #8b6f94,
    #9c788a,
    #8277a3
  );
  box-shadow: 0 4px 6px rgba(var(--accent-color-rgb), 0.5);
}

@media (min-width: 1024px) {
  .btn {
    font-size: 0.875rem;
  }
}
