.btn {
  padding: 0.9rem 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--secondary-color);
  background: linear-gradient(
    to right,
    var(--accent-color),
    rgba(var(--accent-color-rgb), 0.8)
  );
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(var(--accent-color-rgb), 0.5);
  transition: 0.4s;
  background: var(--accent-color);
}

.btn:hover {
  transform: scale(1.03);
  transition: 0.4s;
  background: var(--primary-light-color);
  box-shadow: 0 6px 8px rgba(var(--accent-color-rgb), 0.7);
}

@media (min-width: 1024px) {
  .btn {
    font-size: 0.875rem;
  }
}
