<div class="relative h-fit lg:h-screen text-lg xl:text-xl bg-secondary">
  <img
    src="../../assets/images/small-a.jpg"
    alt="Background"
    class="absolute object-cover object-[21%] md:object-[30%] xl:object-center inset-0 [height:64vh] lg:h-full w-full z-0 mt-8 lg:mt-0 fadeInBg"
  />
  <div
    class="absolute inset-y-0 right-0 w-4/12 sm:w-7/12 bg-gradient-to-l [height:64vh] lg:h-full from-primary/80 sm:from-primary to-transparent mt-8 lg:mt-0"
  ></div>

  <div
    class="relative z-10 flex items-center justify-center lg:justify-end h-full max-w-screen-xl mx-auto px-4 md:px-32 lg:px-0 2xl:mr-44 md:pb-14"
  >
    <div
      class="w-full lg:w-fit [margin-top:58vh] lg:mt-0 bg-secondary lg:bg-transparent rounded-3xl pb-8 shadow-md lg:shadow-none shadow-primary/60 slideInFromBot dark:bg-secondary dark:lg:bg-transparent"
    >
      <h1
        class="mt-8 sm:mt-12 lg:mt-0 pb-8 sm:pb-10 [font-size:2.1rem] sm:text-5xl lg:text-5xl xl:text-6xl font-extrabold font-eyesome text-black text-center fadeInTextFromTop"
      >
        Erfolg beginnt in <span class="text-accent">Dir</span>
      </h1>

      <p
        class="px-5 pb-8 text-center fadeInTextFromTop animDelay08 leading-8 xl:leading-9 dark:text-black"
      >
        Bist Du bereit Dein Leben selbst zu bestimmen und deine
        <br class="hidden sm:block" />Visionen mit Freude und Leichtigkeit zu
        verwirklichen.
      </p>

      <div
        class="text-center fadeInTextFromTop animDelay11 duration-500 ease-in-out"
      >
        <app-main-button
          type="button"
          text="Zum Coaching"
          additionalClasses="uppercase"
          (click)="scrollToSection(routes.Contact, 'header', $event)"
        ></app-main-button>
      </div>
    </div>
  </div>
</div>
