<div class="relative h-screen">
  <img
    src="../../assets/images/small-a.jpg"
    alt="Landing Page Background"
    class="absolute inset-0 w-full h-full object-cover z-0"
  />

  <!-- Opacitiy Overlay -->
  <!-- <div class="absolute inset-0 bg-black opacity-40"></div> -->
  <div
    class="relative z-10 flex items-center justify-end h-full max-w-screen-xl mx-auto"
  >
    <div class="autoHide" style="max-width: 540px">
      <h1
        class="mb-12 text-4xl font-extrabold font-eyesome leading-none text-black md:text-5xl lg:text-6xl fadeIn"
      >
        Erfolg beginnt in Dir
      </h1>

      <p class="mb-6 lg:text-xl fadeIn animDelay08">
        Bist Du bereit Dein Leben selbstzu bestimmen und deine Visionen mit
        Freude und Leichtigkeitzu verwirklichen.
      </p>
      <div class="text-center fadeIn animDelay11">
        <button
          type="button"
          class="text-secondary uppercase bg-accent hover:bg-primary-dark rounded-full text-sm px-12 py-2.5 text-center me-2 mb-2 transition-colors duration-500 ease-in-out shadow-md shadow-accent/50"
        >
          Zum Coaching
        </button>
      </div>
    </div>
  </div>
  <!-- Right-side gradient -->
  <div
    class="absolute inset-y-0 right-0 w-7/12 bg-gradient-to-l from-primary to-transparent"
  ></div>
</div>
