<div
  class="relative h-fit lg:h-screen mt-16 text-md lg:text-lg xl:text-xl bg-primary"
>
  <div
    class="absolute inset-0 h-4/6 lg:h-full w-full z-0 bg-cover [background-position:21%] md:[background-position:30%] xl:bg-center"
    style="background-image: url(&quot;../../assets/images/small-a.jpg&quot;)"
  ></div>

  <div
    class="relative z-10 flex items-center justify-center lg:justify-end h-full max-w-screen-xl mx-auto px-8 lg:px-8 2xl:mr-32 pb-20"
  >
    <div
      class="w-full lg:w-fit mt-96 lg:mt-0 bg-primary lg:bg-transparent rounded-t-3xl px-4"
    >
      <h1
        class="mt-8 sm:mt-12 lg:mt-0 pb-8 sm:pb-10 font-extrabold font-eyesome text-black text-3xl sm:text-5xl lg:text-5xl xl:text-6xl fadeIn text-center whitespace-nowrap"
      >
        Erfolg beginnt in Dir
      </h1>

      <p class="pb-8 fadeIn animDelay08 text-center">
        Bist Du bereit Dein Leben selbstzu bestimmen und deine <br />Visionen
        mit Freude und Leichtigkeitzu verwirklichen.
      </p>
      <div class="text-center fadeIn animDelay11">
        <button
          type="button"
          class="text-xs lg:text-sm text-secondary uppercase bg-accent hover:bg-primary-dark rounded-full px-12 py-2.5 text-center transition-colors duration-500 ease-in-out shadow-md shadow-accent/50"
        >
          Zum Coaching
        </button>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-y-0 right-0 w-4/12 sm:w-7/12 bg-gradient-to-l from-primary to-transparent"
  ></div>
</div>
