<img
  src="../../assets/images/small-a.jpg"
  (load)="onImageLoad()"
  alt="background"
  style="display: none"
/>
<div *ngIf="isReadyToRender$ | async">
  <app-header id="header" class="bg-secondary"></app-header>

  <app-hero-section></app-hero-section>

  <div id="about" class="bg-secondary">
    <app-about-me></app-about-me>
  </div>

  <div id="coaching" class="bg-gradient-to-r from-primary to-secondary">
    <!-- <div id="coaching" class="bg-gradient-to-t from-primary/70 to-primary/80"> -->
    <app-coaching></app-coaching>
  </div>

  <div id="podcast" class="bg-secondary">
    <app-podcast></app-podcast>
  </div>

  <div id="faq" class="bg-secondary">
    <app-faq-section></app-faq-section>
  </div>
  <app-footer></app-footer>
</div>
