<img
  src="../../assets/images/small-a.jpg"
  (load)="onImageLoad()"
  alt="background"
  style="display: none"
/>
<div *ngIf="isReadyToRender$ | async">
  <app-header id="header" class="bg-secondary"></app-header>

  <app-hero-section></app-hero-section>

  <div id="about" class="bg-secondary">
    <app-about-me></app-about-me>
  </div>

  <div id="coaching" class="bg-gradient-to-r from-primary to-secondary">
    <app-coaching></app-coaching>
  </div>

  <!-- <div>
    <img
      src="../../assets/images/podcast.jpg"
      alt="background-podcast"
      class="w-full h-full object-cover"
    />
  </div> -->

  <!-- <div
    id="podcast"
    class="bg-gradient-to-t from-accent/50 via-primary-dark/65 to-primary-dark/90"
  >
    <app-podcast></app-podcast>
  </div> -->

  <div id="podcast" class="bg-gradient-to-r from-primary to-secondary">
    <app-podcast></app-podcast>
  </div>

  <div id="faq" class="bg-secondary">
    <app-faq-section></app-faq-section>
  </div>
  <app-footer></app-footer>
</div>
