<img
  src="../../assets/images/small-a.jpg"
  (load)="onImageLoad()"
  alt="background"
  style="display: none"
/>

<div
  *ngIf="
    !(
      (readyToRenderService.heroImageRdy$ | async) &&
      (readyToRenderService.fontRdy$ | async)
    )
  "
  class="bg-gradient-to-r from-primary to-secondary h-screen w-screen flex items-center justify-center"
>
  <app-loading-dots class="md:scale-125"></app-loading-dots>
</div>

<div
  *ngIf="
    (readyToRenderService.heroImageRdy$ | async) &&
    (readyToRenderService.fontRdy$ | async)
  "
>
  <app-header id="header" class="bg-secondary"></app-header>

  <app-hero-section></app-hero-section>

  <div id="about" class="bg-secondary">
    <app-about-me></app-about-me>
  </div>

  <div id="coaching" class="bg-gradient-to-r from-primary to-secondary">
    <app-coaching></app-coaching>
  </div>

  <div id="podcast" class="bg-gradient-to-r from-primary to-secondary">
    <app-podcast></app-podcast>
  </div>

  <div id="faq" class="bg-secondary">
    <app-faq-section></app-faq-section>
  </div>
  <app-footer></app-footer>
</div>
