.btn {
  padding: 0.9rem 2.5rem;
  font-family: "Aileron", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--secondary);
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(var(--accent-rgb), 0.5);
  transition: 0.4s;
  background: var(--accent);
}

.btn:disabled {
  pointer-events: none;
}

.disabled-class {
  background: var(--secondary-dark);
  box-shadow: 0 4px 6px rgba(var(--black-rgb), 0.22);
}

@media (min-width: 768px) {
  .btn:hover {
    transform: scale(1.03);
    transition: 0.4s;
    background: var(--primary-light);
    box-shadow: 0 4px 6px rgba(var(--accent-rgb), 0.7);
  }
  .btn:disabled:hover {
    background-color: inherit;
    cursor: not-allowed;
  }
}

@media (min-width: 1024px) {
  .btn {
    font-size: 0.875rem;
  }
}
