<!-- <app-header class="bg-secondary main-tool-bar" id="start"></app-header> -->

<!-- <div class="main-tool-bar">Header</div> -->
<div class="scrollable-area"></div>

<div class="container mx-auto text-center pt-[768px]">
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
  <div class="box bg-blue-500 w-48 h-48 mx-auto mb-8"></div>
</div>
