<app-header id="header" class="bg-secondary"></app-header>

<div class="bg-gradient-to-r from-primary/60 via-primary/70 to-secondary">
  <div
    class="mx-auto w-full h-full px-6 pt-32 pb-24 max-w-screen-xl xl:text-xl"
  >
    <h2
      class="text-3xl xl:text-5xl text-center uppercase overflow-wrap: break-words"
    >
      Datenschutz<br class="sm:hidden" />erklärung
    </h2>
    <div class="leading-8 xl:leading-9">
      <hr class="[height:1.5px] border-0 w-44 xl:w-48 my-8 bg-accent mx-auto" />

      <h3 class="font-semibold mb-4">Grundlegendes</h3>
      <p class="mb-4">
        Diese Datenschutzerklärung informiert die Nutzer dieser Website über die
        Art, den Umfang und den Zweck der Erhebung und Verwendung
        personenbezogener Daten durch die Betreiberin dieser Website.
        überprüfen.
      </p>
      <p class="mb-8">
        Der Schutz Ihrer personenbezogenen Daten ist uns sehr wichtig. Wir
        behandeln Ihre Daten daher vertraulich und gemäß den gesetzlichen
        Vorschriften. Aufgrund neuer Technologien und der fortlaufenden
        Weiterentwicklung dieser Website kann es zu Änderungen dieser
        Datenschutzerklärung kommen. Wir empfehlen daher, diese regelmäßig zu
        überprüfen.
      </p>
      <h3 class="font-semibold mb-4">Verantwortliche/r</h3>
      <p class="mb-8">
        {{ contact.Name }} <br />
        {{ contact.Street }} <br />
        {{ contact.City }} <br />
        {{ contact.Country }} <br />
        E-Mail: {{ contact.Email }} <br />
        Website:
        <a class="hover:underline" href="contact.Website"
          >{{ contact.Website }}
        </a>
      </p>
      Verantwortlicher Zwecke der Datenverarbeitung: Warum werden
      personenbezogene Daten gesammelt? (z.B. zur Kontaktaufnahme,
      Newsletter-Versand, Analyse des Webverkehrs) Rechtsgrundlage der
      Datenverarbeitung: Z.B. Einwilligung, Vertragserfüllung, berechtigtes
      Interesse. Empfänger der Daten: Werden die Daten an Dritte weitergegeben
      (z.B. Webhoster, Zahlungsdienstleister)? Übermittlung in Drittländer: Wenn
      Daten außerhalb der EU/des EWR übertragen werden. Speicherdauer der Daten:
      Wie lange werden die Daten gespeichert? Oder, wenn das nicht möglich ist,
      die Kriterien zur Festlegung der Speicherdauer. Betroffenenrechte:
      Hinweise auf das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung
      der Verarbeitung, Widerspruch und Datenübertragbarkeit. Widerrufsrecht der
      Einwilligung: Falls die Verarbeitung auf der Einwilligung basiert.
      Beschwerderecht bei der Aufsichtsbehörde: Kontaktinformationen der
      zuständigen Datenschutzbehörde. Cookies und Tracking-Tools: Informationen
      zu verwendeten Cookies und ähnlichen Technologien (z.B. Google Analytics,
      Facebook Pixel), einschließlich der Möglichkeit, dem zu widersprechen.
      test
    </div>
  </div>
</div>

<app-footer></app-footer>
