/*  Imports */
@import "@fontsource/aileron/index.css";

/*  Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Font Faces */
@font-face {
  font-family: "Brittany";
  src: url("assets/fonts/brittany/BrittanySignature.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Eyesome";
  src: url("assets/fonts/Eyesome/EyesomeScript.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Droid";
  src: url("assets/fonts/droid-serif/Droid-Serif.ttf.woff") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/*  Base Styles */
@layer base {
  html {
    @apply text-black;
  }
}

/***************************** Animations *****************************/

.animate {
  opacity: 0;
  transition: all 0.5s;
}

.animate-visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(80% 10%);
  /* first value is where it should end, second value is where it starts */
}

.fadeIn {
  opacity: 0;
  /* first is duration, second is delay */
  animation: fadeInAnimation 0.5s 0.5s ease-in-out forwards;
}

.fadeOutText {
  animation: fadeOutAnimation both;
  animation-timeline: view(5% 80%);
}

.fadeOutComponent {
  animation: fadeOutAnimation both;
  animation-timeline: view(5% 110%);
}

/* 7. Keyframes */
@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInAnimation {
  /* to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  } */

  from {
    opacity: 0;
    transform: translateY(30px); /* Slight upward movement */
    filter: blur(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
    filter: blur(5px);
  }
}

/* Utility Classes (if needed) */

.animDelay08 {
  animation-delay: 0.8s;
}

.animDelay11 {
  animation-delay: 1.1s;
}
