.text {
  fill: #3c382f;
}

.text .mask {
  fill: none;
  stroke: #f4f0f7;
  stroke-miterlimit: 10;
}

@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

#mask-erfolg-erfol {
  animation: strokeOffset 0.8s linear forwards 0.7s;
}

#mask-erfolg-g {
  animation: strokeOffset 0.2s linear forwards 1.55s;
}

#mask-beginnt {
  animation: strokeOffset 1s linear forwards 1.7s;
}

#mask-beginnt-point {
  animation: strokeOffset 0.05s linear forwards 2.2s;
}
#mask-in {
  animation: strokeOffset 0.25s linear forwards 2.65s;
}

#mask-in-point {
  animation: strokeOffset 0.05s linear forwards 2.75s;
}

#mask-dir-d {
  animation: strokeOffset 0.3s linear forwards 2.85s;
}

#mask-dir-ir {
  animation: strokeOffset 0.3s linear forwards 3.2s;
}

#mask-dir-point {
  animation: strokeOffset 0.05s linear forwards 3.25s;
}

/* Sequential fast version */
/* #mask-erfolg-erfol {
  animation: strokeOffset 0.8s linear forwards 0.7s;
}

#mask-erfolg-g {
  animation: strokeOffset 0.2s linear forwards 1.55s;
}

#mask-beginnt {
  animation: strokeOffset 1s linear forwards 1.75s;
}

#mask-beginnt-point {
  animation: strokeOffset 0.05s linear forwards 2.2s;
}
#mask-in {
  animation: strokeOffset 0.25s linear forwards 2.7s;
}

#mask-in-point {
  animation: strokeOffset 0.05s linear forwards 2.75s;
}

#mask-dir-d {
  animation: strokeOffset 0.3s linear forwards 2.95s;
}

#mask-dir-ir {
  animation: strokeOffset 0.3s linear forwards 3.3s;
}

#mask-dir-point {
  animation: strokeOffset 0.05s linear forwards 3.36s;
} */

/* Sequential slower version */

/* #mask-erfolg-erfol {
  animation: strokeOffset 0.96s linear forwards 0.56s;
}

#mask-erfolg-g {
  animation: strokeOffset 0.2s linear forwards 1.56s;
}

#mask-beginnt {
  animation: strokeOffset 1.2s linear forwards 1.76s;
}

#mask-beginnt-point {
  animation: strokeOffset 0.04s linear forwards 2.32s;
}

#mask-in {
  animation: strokeOffset 0.32s linear forwards 2.94s;
}

#mask-in-point {
  animation: strokeOffset 0.04s linear forwards 3.02s;
}

#mask-dir-d {
  animation: strokeOffset 0.32s linear forwards 3.26s;
}

#mask-dir-ir {
  animation: strokeOffset 0.32s linear forwards 3.63s;
}

#mask-dir-point {
  animation: strokeOffset 0.04s linear forwards 3.78s;
} */
