.text {
  fill: #3c382f;
}

.text .mask {
  fill: none;
  stroke: #f4f0f7;
  stroke-miterlimit: 10;
}

@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

/* Fast version */
#mask-erfolg-erfol {
  animation: strokeOffset 1s linear forwards 0.7s;
}

#mask-erfolg-g {
  animation: strokeOffset 0.15s linear forwards 1.7s;
}

#mask-beginnt {
  animation: strokeOffset 1.2s linear forwards 1.95s;
}

#mask-beginnt-point {
  animation: strokeOffset 0.05s linear forwards 3.15s;
}

#mask-in {
  animation: strokeOffset 0.4s linear forwards 3.25s;
}

#mask-in-point {
  animation: strokeOffset 0.05s linear forwards 3.29s;
}

#mask-dir-d {
  animation: strokeOffset 0.2s linear forwards 3.39s;
}

#mask-dir-ir {
  animation: strokeOffset 0.4s linear forwards 3.6s;
}

#mask-dir-point {
  animation: strokeOffset 0.05s linear forwards 3.65s;
}
