<div
  class="max-w-screen-md mx-auto shadow-lg overflow-hidden bg-secondary leading-8 lg:leading-9"
>
  <div class="flex">
    <button
      (click)="switchTab('coaching')"
      [class.active]="activeTab === 'coaching'"
      class="flex-1 px-4 py-3 transition-colors duration-500 fadeInNav"
      [ngClass]="
        activeTab === 'coaching'
          ? 'bg-transparent hover:bg-transparent cursor-default'
          : 'bg-accent-light/25 hover:bg-accent-light cursor-pointer'
      "
    >
      Coffee Talk
      <div
        *ngIf="activeTab === 'coaching'"
        class="mt-[1.4px] w-full md:w-9/12 h-[2px] mx-auto bg-gradient-to-r from-transparent via-accent/70 to-transparent fadeInNav"
      ></div>
    </button>
    <button
      (click)="switchTab('general')"
      [class.active]="activeTab === 'general'"
      class="flex-1 px-4 py-3 transition-colors duration-500 fadeInNav"
      [ngClass]="
        activeTab === 'general'
          ? 'bg-transparent hover:bg-transparent cursor-default'
          : 'bg-accent-light/25 hover:bg-accent-light cursor-pointer'
      "
    >
      Allgemeine Anfrage
      <div
        *ngIf="activeTab === 'general'"
        class="mt-[1.4px] w-full md:w-9/12 h-[2px] mx-auto bg-gradient-to-r from-transparent via-accent/70 to-transparent fadeInNav"
      ></div>
    </button>
  </div>
  <div
    class="fadeInNav"
    [ngClass]="activeTab === 'coaching' ? 'visible' : 'hidden'"
  >
    <app-contact-calendly></app-contact-calendly>
  </div>
  <div
    class="fadeInNav p-5 pb-9"
    [ngClass]="activeTab === 'general' ? 'visible' : 'hidden'"
  >
    <app-contact-form></app-contact-form>
  </div>
</div>
