<div
  class="md:flex relative md:h-screen mx-auto text-md xl:text-xl py-24 px-8 overflow-hidden"
>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>

  <!-- Left Section (Image) -->
  <div class="flex mx-auto items-center justify-center">
    <img
      src="../../assets/images/smartphone.png"
      alt="about image"
      class="object-cover h-96 md:h-3/4 xl:h-3/4 lg:ml-28 xl:ml-72"
    />
  </div>

  <!-- Right Section (Text Content) -->
  <div
    class="flex flex-col items-center md:items-start justify-center md:[width:60%] h-full pl-0 pt-10 md:p-12 lg:p-20 lg:pl-12 xl:p-32 xl:pl-24"
  >
    <h2 #headline class="text-3xl xl:text-5xl uppercase animate leading-tight">
      Love Yourself <br />
      Speak Yourself
    </h2>
    <div #content class="leading-8 xl:leading-9 max-w-lg xl:max-w-xl">
      <hr class="[height:1.5px] border-0 w-44 my-8 bg-accent mx-auto md:mx-0" />

      <p class="mb-8 text-justify">
        In meinem Videopodcast „Love yourself - Speak yourself“ geht es um mehr
        als nur persönliche Entwicklung - es geht darum, deine Grenzen zu
        sprengen, mutig deine Ziele zu verfolgen und das Leben zu gestalten, das
        du wirklich willst. Hier dreht sich alles um Transformation, Klarheit
        und die kraftvolle Umsetzung deiner Visionen.
      </p>
      <app-fade-out-button
        type="button"
        text="Jetzt anhören"
        additionalClasses="uppercase"
      ></app-fade-out-button>
    </div>
  </div>
</div>
<div *ngIf="isVideoReelLoaded" class="flex mx-auto justify-center items-center">
  <app-video-reel></app-video-reel>
</div>
